html {
	font-family: PT Sans;

}
body {
	background-color: #888888;
	margin: 0;
	overflow-x: hidden;
}

.navlist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0079d4;
	position: fixed;
	top: 0;
	width: 100%;
	font-size:24px;
}

.navlist li {
	float: left;
}

.navlist li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14% 16px;
	text-decoration: none;
}

.navlist li a:hover {
	background-color: #006fbd;
	}
.content {
	padding-top:10%;
}
.aboutme {
	padding-left: 33%;
	padding-right: 33%;
	font-family: sans-serif;
	text-align: justify;
	text-justify: inter-word;
	font-size:18px;
}

.skills {
text-align:center;
}
.skillsimg {
margin-top:5%;

}
.form {
margin-left:2%;
margin-top:2%;
}
.contact span {
font-weight:bold;
font-family:Times New Roman;
margin-left:2%;

}
.contact h2 {
margin-left:1%;
}
.field-validation-error {
color: #9d0404;
}
.navtext {
padding-top:1%;
}

navlist.opacity {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0079d4;
	opacity:0.4;
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 24px;
}
navlist.opacity li a {
	display: block;
	color: white;
	opacity:0.4;
	text-align: center;
	padding: 14% 16px;
	text-decoration: none;
}
navlist.opacity ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0079d4;
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 24px;
	opacity:0.4;
}