
@{
    ViewData["Title"] = "About";
}

<div class="content">
	<div class="aboutme">
		<span>@ViewData["aboutmetext"]</span>
		</div>
	<div class="skills">
		<div class="skillsimg"><img src="~/images/html.png" alt="html" /></div>
		<div class="skillstars"><img src="~/images/stars.png" alt="stars" /></div>
		<div class="skillsimg"><img src="~/images/csharp.png" alt="csgarp" /></div>
		<div class="skillstars"><img src="~/images/stars.png" alt="stars" /></div>
		<div class="skillsimg"><img src="~/images/VisualStudioLogo.png" alt="VisualStudio" /></div>
		<div class="skillstars"><img src="~/images/stars.png" alt="stars" /></div>
	</div>


	<div class="Status">
		<p>@ViewData["Status"]</p>
		</div>
	</div>