@model WebApplication3.ViewModels.Person
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Person</title>
</head>
<body>

	<h1>@Model.name</h1><br />
	<h1>@Model.surname</h1><br />

</body>
</html>
